<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 rounded shadow">
                    <div class="card-body">
                        <h4 class="text-center">Absensi</h4>
                        <hr>
                        <form @submit.prevent="process">
                            <div class="form-group">
                                <label for="username" class="font-weight-bold">Username</label>
                                <input type="text" class="form-control" v-model="home.username"
                                    placeholder="Masukkan username">
                                <!-- validation -->
                                <div v-if="validation.username" class="mt-2 alert alert-danger">
                                    {{ validation.username[0] }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="pin" class="font-weight-bold">PIN</label>
                                <input type="pin" class="form-control" v-model="home.pin"
                                    placeholder="Masukkan PIN">
                                <!-- validation -->
                                <div v-if="validation.pin" class="mt-2 alert alert-danger">
                                    {{ validation.pin[0] }}
                                </div>
                            </div>

                            <hr>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary">Tandai sebagai hadir</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { reactive, ref } from "vue"
import { useRouter } from "vue-router"
import axios from 'axios'
export default {
    setup() {
        const home = reactive({
            username: '',
            pin: ''
        })

        const validation = ref([])

        const router = useRouter()

        function process() {
            let username = home.username
            let pin = home.pin

            axios.post('http://localhost:8000/api/present/new', {
                username: username,
                pin: pin
            }).then(() => {
                router.push({
                    name: 'presentResponse'
                })
            }).catch(error => {
                validation.value = error.response.data
            })
        }

        return {
            home,
            validation,
            router,
            process
        }
    }
}
</script>