<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 rounded shadow">
                    <div class="card-body">
                        <h4>Masuk</h4>
                        <hr>
                        <form @submit.prevent="process">
                            <div class="form-group">
                                <label for="email" class="font-weight-bold">Email</label>
                                <input type="email" class="form-control" v-model="login.email"
                                    placeholder="Masukkan Email">
                            </div>

                            <div class="form-group">
                                <label for="password" class="font-weight-bold">Password</label>
                                <input type="password" class="form-control" v-model="login.password"
                                    placeholder="Masukkan Email">
                            </div>

                            <hr>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Masuk</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { reactive, ref } from "vue"
import { useRouter } from "vue-router"
import axios from 'axios'
export default {
    setup() {
        const login = reactive({
            email: '',
            password: ''
        })

        const validation = ref([])

        const router = useRouter()

        function process() {
            let email = login.email
            let password = login.password

            axios.post('http://localhost:8000/api/login', {
                email: email,
                password: password
            }).then((response) => {
                localStorage.setItem('accessToken', response.data.token)
                router.push({
                    name: 'dashboard'
                })
            }).catch(error => {
                validation.value = error.response.data.message || ['message']
            })
        }

        return {
            login,
            validation,
            router,
            process
        }
    }
}
</script>