<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 rounded shadow">
                    <div class="card-body">
                        <h4 class="text-center">Absensi</h4>
                        <hr>
                        <h4 class="text-center">Terima kasih, kamu sudah terdaftar hadir pada</h4>
                        <h5 class="text-center">{{nowTime}}</h5>
                        <form @submit.prevent="process">
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary">Kembali</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { ref } from "vue"
import { useRouter } from "vue-router"
export default {
    setup() {
        const validation = ref([])

        const router = useRouter()

        function process() {
            router.push({
                name: 'index'
            })
        }

        let nowTime = new Date().toLocaleString()

        return {
            validation,
            router,
            nowTime,
            process
        }
    }
}
</script>