<template>
    <NavBar />
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 rounded shadow">
                    <div class="card-body">
                        <h4>Tambahkan user</h4>
                        <hr>
                        <form @submit.prevent="process">
                            <div class="form-group">
                                <label for="name" class="font-weight-bold">Username</label>
                                <input type="text" class="form-control" v-model="reg.name"
                                    placeholder="Masukkan Username">
                            </div>
                            <div class="form-group">
                                <label for="email" class="font-weight-bold">Email</label>
                                <input type="email" class="form-control" v-model="reg.email"
                                    placeholder="Masukkan Email">
                            </div>

                            <div class="form-group">
                                <label for="password" class="font-weight-bold">Password</label>
                                <input type="password" class="form-control" v-model="reg.password"
                                    placeholder="Masukkan Password">
                            </div>

                            <div class="form-group">
                                <label for="pin" class="font-weight-bold">PIN</label>
                                <input type="number" class="form-control" v-model="reg.pin" placeholder="Masukkan PIN">
                            </div>
                            <hr>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary">Daftar</button>
                            </div>
                        </form>
                        <div class="form-group text-center">
                            <form @submit.prevent="back">
                                <br>
                                <button type="submit" class="btn btn-outline-secondary">Kembali</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
import { reactive, ref } from "vue"
import { useRouter } from "vue-router"
import axios from 'axios'
export default {
    setup() {
        const reg = reactive({
            name: '',
            email: '',
            password: '',
            pin: ''
        })

        const validation = ref([])

        const router = useRouter()

        function back() {
            router.push({
                name: 'dashboard'
            })
        }

        function process() {
            let name = reg.name
            let email = reg.email
            let password = reg.password
            let pin = reg.pin

            axios.post('http://localhost:8000/api/user/adduser', {
                name: name,
                email: email,
                password: password,
                pin: pin
            }).then((response) => {
                router.push({
                    name: 'dashboard'
                })
            }).catch(error => {
                validation.value = error.response.data.message || ['message']
            })
        }

        return {
            reg,
            validation,
            router,
            back,
            process
        }
    }
}
</script>