<template>
    <NavBar />
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-0 rounded shadow">
                    <div class="card-body">
                        <h4 class="text-center">Daftar Semua User</h4>
                    </div>
                </div>
                <div class="form-group text-center">
                    <br>
                    <form @submit.prevent="back">
                        <button type="submit" class="btn btn-secondary">Kembali</button>
                    </form>
                </div>
                <div class="card mt-3 shadow">
                    <div class="card-body table-responsive">
                        <h5 class="text-center">Daftar User</h5>
                        <table class="table table-hover border-primary">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">User Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Create At</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(data, index) in datas" :key="viewDashboard">
                                    <td>{{ index + 1 }}</td>
                                    <td>{{ data.id }}</td>
                                    <td>{{ data.name }}</td>
                                    <td>{{ data.email }}</td>
                                    <td>{{ data.role }}</td>
                                    <td>{{ data.created_at }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { onMounted, ref } from "vue"
import axios from 'axios'
import { useRouter } from "vue-router"
export default {
    setup() {
        let datas = ref([])

        const router = useRouter()

        if (localStorage.getItem('accessToken') != null) {
            onMounted(() => {
                axios.get('http://localhost:8000/api/user/list', {
                    headers: {
                        'Authorization': 'Bearer ' + localStorage.getItem('accessToken')
                    }
                })
                    .then(response => {
                        datas.value = response.data.users
                    }).catch(error => {
                        console.log(error.response.data)
                    })
            })

            function back() {
                router.push({
                    name: 'dashboard'
                })
            }

            return {
                datas,
                router,
                back
            }
        } else {
            router.push({
                name: 'login',
                params: {
                    message: 'Silahkan login dulu'
                }
            })

            return {
                router
            }
        }
    }
}
</script>