<template>
    <nav class="navbar navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/api/admin">Presensiku</a>
            <form @submit.prevent="logout">
                <button type="submit" class="btn btn-outline-danger">Keluar</button>
            </form>
        </div>
    </nav>
</template>

<script>
import router from '../router'
import { useRouter } from "vue-router"

export default {
    setup() {
        const router = useRouter()
        
        function logout() {
            localStorage.removeItem('accessToken')
            router.push({
                name: 'login'
            })
        }

        return {
            router,
            logout
        }
    }
}
</script>